<!-- Header ----------------------------------------------------------->
<wrapper class="header" bgcolor="#191919">
  <container class="header-container">
    <row class="header-image collapse">
      <columns class="image-col">
        <img src="https://i.imgur.com/ujYWRQp.png" />
      </columns>
    </row>
    <row class="header-link">
      <columns class="link-col">
        <a href="#" class="link">View this issue on CodePen</a>
      </columns>
    </row>
  </container>
</wrapper>
